.n-list ul{
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #333;
}
.mylist{
    float: left;
}

.mylist a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .mylist a:hover:not(.active) {
    background-color: orange;
  }
 .active {
    background-color: #04AA6D;
  }